<p id="notice"><%= notice %></p>

<p>
  <strong>Free time:</strong>
  <%= @apply.free_time %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @apply.skills %>
</p>

<%= link_to 'Edit', edit_apply_path(@apply) %> |
<%= link_to 'Back', applies_path %>
