<div class="row">
    <div class="col-md-6">
        <div class="thumbnail">
        <%= image_tag @project.image.url %>
        </div>
    </div>
    <div class="col-md-6">
        <h3><%= @project.name %></h3><br>
        <p><%= "Company: " + @project.company %></p>
        <p><%= "Skill: " + @project.skill %></p>
        <p><%= "Group Size: " + @project.peopleWorking.to_s %></p>
        <p><%= "Members Needed: " + @project.peopleNeeded.to_s %></p>
        <p><%= "Location: " + @project.location.to_s %></p>
        <br><br><br><br>
        <p><%= "Description: " + @project.description %></p>
        <br>
    </div>
</div>


<!-- <br><br><br><br> -->
<iframe
width="300"
height="300"
frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC7gtYar38cLwRz8RTuBQN_4od8biPmTvI
&q= <%= @project.location.parameterize %>" allowfullscreen>
</iframe>

<br><br><br>
<% if current_user == @project.user %>
    <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-link" %> |
<% end %>
<%= link_to 'Back', projects_path, class: "btn btn-link" %>
<br>
