<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @project.company %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @project.skill %>
</p>

<p>
  <strong>People Working:</strong>
  <%= @project.peopleWorking %>
</p>

<p>
  <strong>People Needed:</strong>
  <%= @project.peopleNeeded %>
</p>

<%= link_to 'Edit', edit_project_path(@project), class: "btn btn-link" %> |
<%= link_to 'Back', projects_path, class: "btn btn-link" %>
